body{
	font-family:"Arial" , sans-serif;
	width:80%;
	margin:auto;
	margin-top:5%;
}
section{
	border-bottom:1px solid lightgray;
	padding-bottom:3%;
	margin:auto;
	text-align:center;
	margin-bottom:5%;
}
h1{
	padding-top:4%;
	padding-bottom:4%;
}
.box{	
	background:black;
	height:100px;
	width:100px;
	color:white;
	margin:auto;
}
.positionAnimationBox,
.positionSlideAnimationBox{	
	background:black;
	height:100px;
	width:100px;
	color:white;
	position:relative;	
	left:0;
}
.positionAnimationBox2{
	background:black;
	height:100px;
	width:100px;
	color:white;
	margin-left:100%;
	position:relative;	
	float:right;
	display:none;
}
.borderAnimationBox{
	height:100px;
	width:100px;
	border:1px solid black;
	margin:auto;	
}
button{
	
	cursor:pointer;
	border:none;
	outline:none;
	border:1px solid gray;
	color:gray;
	padding:1.5%;
	margin-top:5%;
	margin-bottom:2%;
	background:transparent;
}
.bgPostionAnimationBox{	
	height:160px;
	width:160px;
	margin:auto;
	background-image:url("https://groups.google.com/u/0/a/googleproductforums.com/group/chrome/attach/243f3e01044b5/smalllogo.png?part=0.1&thumb=1");	
}

.sizeAnimationBox2{
	display:none;
	width:400px;
	height:400px;
}
.elementBox2{
	display:none;
}
.toggleElement{
	padding:3%;
	border:1px solid gray;
}
.positionSlideLeftAnimationTrigger,
.opacityAnimationBox2,
.borderAnimationBox2,
.marginAnimationBox2,
.paddingAnimationBox2,
.fontSizeAnimationBox2,
.fontSpacingAnimationBox2{
	display:none;
}
.fontSpacingAnimationBox2{
	letter-spacing: 50px;
	word-spacing:50px;
	line-height:50px;
	text-indent:50px;
}
.fontSizeAnimationBox2{
	font-size:3em;
}

.paddingAnimationBox2{
	padding:5%;
}

.borderAnimationBox2{
	height:100px;
	width:100px;
	margin:auto;
	border:10px solid black;
}