body{
	font-family:"Arial" , sans-serif;
	width:90%;
	margin:auto;
	margin-top:5%;
	background:#95D3FF;	
}
h1{
	font-size:150%;
}

.demo-box{
	background:#95D3FF;
	position:relative;
	float:left;	
	text-align:center;
	width:100%;
	color:white;
	height:230px;
	margin-bottom:10%;
	
}

/* Basic frame animation */
.box{
	margin:auto;
	margin-top:5%;
	width:100px;
	height:100px;
	background:white;
}
.box:hover{
    animation-name: basic;
    animation-duration: 10s;
}
@keyframes basic {
    0%   {background-color: white;}
	
    25%  {background-color: yellow;width:200px;}
    50%  {background-color: blue;height:200px;}
    75% {background-color: red;border-radius:30px;}
	75% {background-color: white;}
}






