

/*=========================
		Demo box 
==========================*/
.demoBox{
	border:1px solid gray;
	height:300px;	
}
p{
	font-size:300%;
}


/*=========================
	Center text Horizontal
==========================*/
.centerTextHorizontal{
	text-align:center;
}

/*=========================
	Center text Vertical
==========================*/
.centerTextVertical {
  position: relative;
}
.centerTextVertical::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}
.centerTextVertical p {
  display: inline-block;
  vertical-align: middle;
}

/*=========================
	Center text Horizontal
		and vertical
==========================*/
.centerTextHorizontalVertical{
	text-align:center;
}




/*=========================
	Center everything 
	Horizon and vertical 
==========================*/
.elementParent{
	position:relative;
}

.elementChild{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}

/*=========================
	Center everything 
		Horizon only
==========================*/
.element {
	text-align:center;
}


/*=========================
	Center everything 
	Horizon and vertical 
==========================*/
.element{
	display:flex;
	align-items:center;
	justify-content :center;
}


/*=========================
	Center everything 
	Horizon and vertical 
==========================*/
.elementParent{
	position:relative;
}

.elementChild{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}
}

	