@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

table{
	background:white;
	box-shadow: -1px 2px 0px #D4D4D4;
	margin:auto;
	width:70%;
	border:none;
}
table td{
	border:none;
	border-bottom:1px solid lightgray;
	padding-bottom:2%;
	padding-top:2%;
}
body{
	background:#bbb;
	font-family: 'Lato', sans-serif;
}
.message-title{
	width:20%;
	padding-left:3%;
	
}
.message-input{
	width:70%:
	
}
.message-delete{
	width:10%;
}
.message-input input[type=text]{
	border:none;
	width:80%;
	padding-left:5%;
	margin-left:5%;
	height:30px;
	border-bottom:1px solid lightgray;
}
.message-input input[type=submit]{
	border:none;
	width:100%;
	margin-top:3%;
	height:50px;
	cursor:pointer;
}
table th{
		background:#2a3052;
		border:none;
		padding:0;
		margin:0;
		border-collapse:none;
		height:50px;
		color:white;
		font-weight:normal;
}


