body{
	font-family:"Arial" , sans-serif;
	width:90%;
	margin:auto;
	margin-top:5%;
	background:#95D3FF;	
}
h1{
	font-size:150%;
}

.demo-box{
	background:#95D3FF;
	position:relative;
	float:left;	
	text-align:center;
	width:100%;
	color:white;
	height:230px;
	margin-bottom:10%;
}



/* Design 1*/
.circle{
	width:150px;
	height:150px;
	border:3px solid white;
	margin:auto;
	display:flex;
	border-radius:100%;
	align-items:center;
	justify-content :center;	
}
.circleInput{
	border:none;
	outline:none;
	color:white;
	text-align:center;
	background:transparent;	
	font-size:200%;
	font-weight:700;
}
.circleInput::placeholder {
  color: white;
}
.circleInput:hover{

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

