

/*===================
	Profile styling 
====================*/

.profileSection{
	width:80%;
	margin-top:10%;
	margin:auto;
	
}

.profileImg,
.profileField{
	 margin: 0 auto;
	text-align:center;
	margin-bottom:10%;
}

.profileImg img{
	width:30%;
}

table{
	margin:auto;
	border:none;
	width:60%;
}
td input,
td select{
	outline:none;
	width:80%;
	border:none;
	border-bottom:2px solid gray;
	padding-bottom:2%;
}
tr td:first-child{
	font-size:130%;
	font-weight:700;
	text-align:left;
	width:10%;
	padding-top:1%;
}
.fieldTable tr td{
	height:50px;
}
.editBtn{
	margin-top:5%;
	cursor:pointer;
	font-size:150%;
}

.themeButton{
	background:transparent;
	border:none;
	background:#3498DB;
	border-radius:30px;
	padding:1.5%;
	color:white;
	font-weight:600;
}