body{
	font-family:"Arial" , sans-serif;
	width:60%;
	margin:auto;
	margin-top:5%;
	background:white;	
}


h1{
	font-size:200%;
	font-weight:600;
}
.rankingSection{	
	position:relative;
	float:left;		
	width:100%;	
	height:230px;
	margin-bottom:10%;
}
.rankingList li{
	list-style: none;
	padding-bottom:20%;
}
.rankingContent{
	width:100%;
	height:10vh;
}
.rankingContentLeft{
	
	height:100%;
}
.rankingContentRight{

	
	height:100%;
}
.userLabel{
	position:absolute;
	margin-left:-15%;
	margin-top:4%;
	font-size:150%;
	font-weight:600;
}
.UserRanking{
	position:relative;
}


